body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ヘッダー */
header {
    background: #87cefa;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* トップ */
#hero {

    text-align: center;

    padding: 100px 20px;

    background: #f5f5f5;

}

#hero h2 {

    font-size: 48px;

}

#hero p {

    font-size: 20px;

    line-height: 1.8;

}

/* ボタン */
button {

    padding: 12px 24px;

    font-size: 18px;

    cursor: pointer;

}



/* スタンプ */

#features {

    padding: 100px 20px;

    text-align: center;

}


.feature-container {

    display: flex;

    justify-content: center;

    gap: 30px;

    flex-wrap: wrap;

}



.feature {

    width: 300px;

    background: white;

    border: 1px solid #ddd;

    border-radius: 15px;

    padding: 20px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

}

/* おみくじ */
#omikuji {

    text-align: center;

    padding: 80px 20px;

    background: #fff5d7;

}


#omikuji h2 {

    font-size: 36px;

}


#result {

    font-size: 24px;

    margin: 30px;

}


#omikuji button {

    background: #e67e22;

    color: white;

    border: none;

    border-radius: 30px;

    padding: 15px 40px;

}



.feature img {

    width: 100%;

    height: 200px;

    object-fit: contain;

}



.feature h3 {

    font-size: 22px;

}



/* プロフィール */

#about {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 50px;

    padding: 80px 20px;

}



.about-image img {

    width: 400px;

    border-radius: 20px;

}



.about-text {

    max-width: 500px;

}



/* お問い合わせ */

#contact {

    text-align: center;

    padding: 80px 20px;

    background: #333;

    color: white;

}


#contact h2 {

    font-size: 36px;

}


#contact button {

    background: #4CAF50;

    color: white;

    border: none;

    border-radius: 30px;

    padding: 15px 40px;

}



/* フッター */

footer {

    text-align: center;

    padding: 20px;

    background: #222;

    color: white;

}



/* スマホ対応 */

@media(max-width:768px) {


    header {

        text-align: center;

    }


    #hero {

        padding: 60px 20px;

    }


    #hero h2 {

        font-size: 32px;

    }


    #hero p {

        font-size: 16px;

    }


    .feature-container {

        flex-direction: column;

        align-items: center;

    }


    #about {

        flex-direction: column;

        text-align: center;

    }


    .about-image img {

        width: 70%;

    }


    button {

        width: 90%;

    }

    /* スタンプ・イラストサイズ調整 */

    .feature {
        width: 260px;
    }


    .feature img {
        height: 180px;
        object-fit: contain;
    }

}